{% extends 'base.html' %}
{% load static %}
{% block content %}   
        <!-- Bottom Bar End --> 
        
        <!-- Breadcrumb Start -->
        <div class="breadcrumb-wrap">
            <div class="container-fluid">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Products</a></li>
                    <li class="breadcrumb-item active">Wishlist</li>
                </ul>
            </div>
        </div>
        <!-- Breadcrumb End -->
        
        <!-- Wishlist Start -->
        <div class="wishlist-page">
            <div class="container-fluid">
                <div class="wishlist-page-inner">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th>Product</th>
                                            <th>Price</th>
                                            <th>Add to Cart</th>
                                            <th>Remove</th>
                                        </tr>
                                    </thead>
                                    <tbody class="align-middle">
                                        {% for li in likes %}
                                        <tr>
                                            <td>
                                                <div class="img">
                                                    <a href="#"><img src="{{li.items.image.url}}" height="60px" width="60px" alt="Image"></a>
                                                    <p>{{li.items.name}}</p>
                                                </div>
                                            </td>
                                            <td>{{li.total}}</td>
                                            <td><button class="btn-cart"><a href="/addto/{{li.slug}}">Add to Cart</a></button></td>
                                            <td><button><a href=""><a href="/deletelike/{{li.slug}}"><i class="fa fa-trash"></i></a></button></td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Wishlist End -->
        {% endblock %}