{% extends 'base.html' %}
{% load static %}
{% block content %}
        <!-- Breadcrumb Start -->
        <div class="breadcrumb-wrap">
            <div class="container-fluid">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item"><a href="/product/">Products</a></li>
                    <li class="breadcrumb-item active">Login & Register</li>
                </ul>
            </div>
        </div>
        <!-- Breadcrumb End -->
        
        <!-- Login Start -->
        <div class="setting_conatainer" style="background-color: red;">
            <ul>
                <a href=""><li>Theme</li></a>
                <a href="/change/">Change Password</a>
                <a href=""><li>Privacy</li></a>
                <a href=""><li>Contact</li></a>
                <a href=""><li>Download</li></a>
                <a href="/statement/">Statement</a>
                <a href=""><li>defult setting</li></a>
            </ul>
        </div>
        <!-- Login End -->
        {% endblock %}