{% extends 'base.html' %}
{% load static %}
{% block content %}
        <!-- Breadcrumb Start -->
        <div class="breadcrumb-wrap">
            <div class="container-fluid">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Home</a></li>
                    <li class="breadcrumb-item"><a href="/product/">Products</a></li>
                    <li class="breadcrumb-item active">Login & Register</li>
                </ul>
            </div>
        </div>
        <!-- Breadcrumb End -->
        
        <!-- Login Start -->
        <div class="setting_conatainer">
            <ul>
                {% for s in statements %}
                <a href=""><li>{{s.First_Name}}</li></a>
                {% endfor %}
            </ul>
        </div>
        <!-- Login End -->
        {% endblock %}