{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Breadcrumb Start -->
<div class="breadcrumb-wrap">
    <div class="container-fluid">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Products</a></li>
            <li class="breadcrumb-item active">Login & Register</li>
        </ul>
    </div>
</div>
<!-- Breadcrumb End -->

<!-- Login Start -->
<center><front style="color:green; font-size: xx-large;">Check your email !!!</front></center><br>
<!-- <center><a href="santoshbudha809@gmail.com">santoshbudha809@gmail.com</a></center> -->
<!-- Login End -->
{% endblock %}